<!--=============================================================================
#     FileName: add_allot.htm
#         Desc:  
#       Author: Wuyuanhang
#        Email: 1828343841@qq.com
#     HomePage: kjrs_crm
#      Version: 0.0.1
#   LastChange: 2014-09-15 17:50:48
#      History:
=============================================================================-->
<br />
<h3>{$title}</h3>
<br />
<div>
  <form action="javascript:void(0)" onsubmit="addAllotDone(this)" > 
    <table>
      <tr>
        <th></th>
      </tr>
      <tr>
        <th></th>
      </tr>
      <tr>
        <th></th>
      </tr>
    </table>
  </form>
</div>

<div>
<table width="100%" cellpadding="0" cellspacing="0" width="0" border="0" class="wu_table_list rb_border wu_rb_border tr_hover">
  <caption>产品详细信息</caption>  
  <tr>
    <th width="10%">序列号</th>
    <th width="10%">产品编号</th>
    <th width="10%">产品名</th>
    <th width="10%">批次</th>
    <th width="10%">数量</th>
  </tr>
</table>
</div>
<div></div>
