<div>
  <div>
    <select name="role_id" onchange="switchRole(this)">
      {foreach from=$role_list item=val}
      <option value="{$val.role_id}">{$val.role_name}</option>
      {/foreach}
    </select>
  </div>
  <br />
  {foreach from=$admin_view item=val name=i}
  <div class="{if $smarty.foreach.i.iteration eq 1}show{else}hide{/if}" id="role_{$val.role_id}">
    <form action="javascript:void(0)" name="allot_admin_form">
      <label><input type="checkbox" value="all" onclick="selectAll(this,'checkboxes')"/> 全选</label>
      <br />
      <div>
        {foreach from=$val.admin item=admin}
        <label>
          <input type="checkbox" rel="admin" value="{$admin.user_id}" name="checkboxes[]" /> {$admin.user_name}
        </label> 
        {/foreach}
      </div>
    </form>
  </div>
  {/foreach}
</div>
