<br /><h2>更新日志</h2><br />
<div style="width:70%">
  {if $developer}
  <input type="button" name="name" value="value"/>
  <div>
    <form action="javascript:void(0)" onsubmit="addChangeLog(this)">
     <table cellspacing="0" cellpadding="0" width="90%" class="">
       <tr>
         <th>标题：</th>
         <td>
           <input type="text" name="title" value="" autofocus require />
         </td>
       </tr>
       <tr>
         <th>更新内容：</th>
         <td>
           <textarea name="log_text" style="resize:none;width:128px;height:360px;"></textarea>
         </td>
       </tr>
       <tr>
         <td colspan="2">
           <input type="submit" value="提 交" class="input_submit"/>
         </td>
       </tr>
     </table> 
    </form>
  </div>
  <hr />
  {/if}
  {if $change_log}
    {foreach from=$change_log item=val key=k}
    <details class="history-date">
    <summary class="green"><h3>{$k}</h3></summary>
    {foreach from=$val item=log}
    <details>
    <summary>{$log.upgrade_time}</summary>
    {$log.log_text}
    </details>
    {/foreach}
    </details>
    {/foreach}
  </ul>
  {else}
  <div>
    <h3>没有更新记录</h3>
  </div>
  {/if}
</div>
