<lbl name="introduction" onclick="getKnowlage(this,'{$g.goods_sn}')" ><img class="png_btn" title="服用说明" src="images/medical.ico">&nbsp;&nbsp;</lbl>
                  <lbl name="goods_knowlage" onclick="getKnowlage(this,'{$g.goods_sn}')" ><img class="png_btn" title="产品知识" src="images/book.ico">&nbsp;&nbsp;</lbl>
                  <lbl name="talk_skill" onclick="getKnowlage(this,'{$g.goods_sn}')" ><img class="png_btn" title="相关话术" src="images/talk.ico">&nbsp;&nbsp;</lbl>
                  <a href="{$g.goods_id}" ><img class="png_btn" title="购买平台" src="images/store.ico">&nbsp;&nbsp;</a>
