<br />
<h3>存货订单管理</h3>
<div style="margin-bottom:5px;background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));padding:5px">
    姓名：<input type="text" id="user_name" value="" />
    电话：<input type="text" id="phone" value="" />
    存货日期：<input id="store_time" style="width:80px !important" type="text" maxlength="12" onClick="WdatePicker()">
    订单号：<input type="text" id="order_sn" value="" />
    <button onclick="schInventory()" class="b_submit">搜索</button>
</div>
<div style="margin-bottom:5px;background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));padding:5px;display:none">
    <button onclick="addInventory(this.form)" class="wu_button wu_button_vist">添加存货订单</button>
</div>
<div id="resource">
    <table class="wu_table_list rb_border wu_rb_border tr_hover" width="100%" cellspacing="0" cellpadding="0" id="table_inventory">
      <tr>
        <th width="20%">姓名</th>
        <th width="15%">联系电话</th>
        <th width="10%">总金额</th>
        <th width="15%">谁的顾客</th>
        <th width="15%">最新更新时间</th>
        <th width="25%">操作</th>
      </tr>
      {if $inventory_order neq ''}
      {foreach from=$inventory_order item=val}
      <tr id="tr_{$val.user_id}">
        <td>{$val.user_name}</td>
        <td>{$val.mobile_phone}</td>
        <td>{$val.final_amount}</td>
        <td>{$val.admin_name}</td>
        <td>{$val.update_time}</td>
        <td style="text-align:right">
          <button class="b_submit" style="width:67px" onclick="getUserInventoryOrder({$val.user_id},1)">未提完<font color="red">{$val.notempty_inventory}</font></button>
          <button class="b_submit" style="width:67px" onclick="getUserInventoryOrder({$val.user_id},0)">已提完<font color="red">{$val.empty_inventory}</font></button>
          <button onclick="addInventory(this.form)" class="wu_button wu_button_vist">添加存货</button>
        </td>
      </tr>
      {/foreach}
      {else}
      <tr>
        <td colspan="7" align="center">没有存货订单</td>
      </tr>
      {/if}
    </table>

    <div class="bottom_tip" id="bottom_tip">
      <div class="tip_left">
        <p>共{$filter.record_count}条记录,当前页:{$filter.start}-{$filter.end}条，每页<input type="text" name="page_size" value="" size="4" onkeyup="sendPageValue(this)"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      </div>
      <div class="tip_center">
        <span><a href="service.php?act={$filter.act}&page=1&page_size={$filter.page_size}{$condition}" id="page_link">&lt;&lt;</a></span>
        {foreach from=$filter.page_set item=v}
        <span {if $v eq $filter.page} class="cur"{/if}>{if $v eq $filter.page}{$v}{else}<a href="service.php?act={$filter.act}&page={$v}&page_size={$filter.page_size}{$condition}">{$v}</a>{/if}</span>
        {/foreach}
        <span><a href="service.php?act={$filter.act}&page={$filter.page_count}&page_size={$filter.page_size}{$condition}">&gt;&gt;</a></span>
      </div>
      <div class="tip_right">跳转到第
        <input type="text" name="page" size="4" onkeyup="sendPageValue(this)">&nbsp;页
      </div>
    </div>
  </div>
