<div class="box wu" style="padding:10px;border:1px solid;border-collapse:collapse;height:100%">
<table width="100%">
<tr>
  <td border="0">
  <h2>修改<font color="red">{$qqgroup}</font>群</h2>
  </td>
  <td align="right">
  <input type="button" style="possition:absolute;padding:2px 13px 2px 13px" value="返&nbsp;回" onclick="EV_closeAlert()" />
  </td>
</tr>
</table>
  <label>
    <input id="group_id" value="{$group_info.group_id}" type="hidden" />        
    <span>所属Q号:</span>
    <input class="input_text" type="text" name="qq" id="in_qq" style="resize:none" value="{$group_info.qq}" />
    <select class="select_style" id="sel_qq">
      {foreach from=$admin_list item=val}
      <option value="{$val.admin_id}">{$val.admin_name}</option>
      {/foreach}
    </select>
  </label>
  <label style="display:none">
    <span>查看QQ详细</span>
    <div id="qq_detailed" style="border:1px;border-collapse:collapse"></div>
  </label>
  <label>
    <span>群名:</span>
    <input class="input_text" type="text" name="subject" id="in_subject" style="resize:none" value="{$group_info.subject}" />
  </label>
  <label>
    <span>所属部门:</span>
    <input class="input_text" type="text" name="department" id="department" style="resize:none" value="{$group_info.department}" />
    <select class="select_style" id="cho_department" />
      {foreach from=$department item=val}
      <option value="{$val.role_id}">{$val.role_name}</option>
      {/foreach}
    </select>
  </label>
  <label>
      <span>新添管理员:</span>
      <input class="input_text" type="text" name="admin_list" id='in_admin_list' style="resize:none" value="" />
      <select class="select_style">
        {foreach from=$admin_box item=val}
          <option value="{$val.admin_id}">{$val.admin_name}<option>
        {/foreach}
      </select>
  </label>
  <label>
    <span>管理员:</span>
    <input type="text" class="input_text" size="160px" id="in_admin" value="{$val.admin}">
    </select>
  </label>
  <label>
    <input type="button" style="padding:2px 10px 2px 10px;" value="提&nbsp;交" /> 
    <input type="button" style="padding:2px 10px 2px 10px;margin-left:10px" value="取&nbsp;消" onclick="cle_from()" />
  </label>
</div>
