<div class="finder-header-wrapper" id="records" >
  <table border="0" cellpadding="0" cellspacing="0" class="all_table_list rb_border c_b" width="100%">
    <tr>
      <th width="10%">顾客姓名</th>
      <th width="10%">服务类别</th>
      <th width="10%">服务方式</th>
      <th width="10%">客服</th>
      <th width="45%">过程记录</th>
      <th width="15%">服务时间</th>
      {if $role_id eq 5}
      <th>操作</th>
      {/if}
    </tr>
    {foreach from=$records.service item=val}
    <tr style="color:{if $val.show_sev eq 0}#d0d0d0 !important{/if}">
      <td height="20">{$val.user_name}</td>
      <td>{$val.class}</td>
      <td>{$val.manner}</td>
      <td>{$val.admin_name}</td>
      <td style="text-align:left !important;padding-left:5px; line-height:18px">{$val.logbook}</td>
      <td>{$val.service_time}</td>
      {if $role_id eq 5}
      <td align="center"><a href="service.php?act=service_delete&service_id={$val.service_id}" ><img src="images/no.gif" alt="删除" title="删除"></a>
        <a onclick="javascript:update_service({$val.service_id})" href="#" ><img src="images/edit.gif" alt="修改" title="修改"></a>
      </td>
      {/if}
    </tr>
    {/foreach}
  </table>

  <!-- 分页 -->
  <div class="bottom_tip" width="96%">
    <div class="tip_left">
      共{$records.total}条记录,当前页:1-{$records.filter.page_size}条，每页显示<input type="text" name="" size="4" onkeydown="limit(this.value,event)"> &nbsp;{$records.filter.page_size}条记录&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div>
    <div class="tip_center">
      <span>
        <a href="service.php?act={$records.filter.action}&page={$records.filter.page_pre}&page_size={$records.filter.page_size}{$condition}"><<</a>
      </span>
      {foreach from=$records.page_set item=val}
      <span{if $val eq $records.filter.page} class="cur"{/if}>{if $val eq $records.filter.page}{$val}{else}<a href="service.php?act={$records.filter.action}&page={$val}&page_size={$records.filter.page_size}{$condition}">{$val}</a>{/if}</span>
      {/foreach}
      <span><a href="service.php?act={$records.filter.action}&page={$records.filter.page_next}&page_size={$records.filter.page_size}{$condition}">>></a></span>
    </div>
    <div class="tip_right">
      总共{$records.filter.page_total} 页
      跳转到第
      <input type="text" name="page" size="4" onkeydown="pageTurn(this.value,{$records.filter.page_size},event)">&nbsp;页
    </div>
  </div>
</div>
