<div class="blank"></div>
<div class="finder-title">公共查询</div><br/>
  <ul>
    <li style="margin-bottom:10px">
    <form action="javascript:search()" name="searchForm" >
      <select name="condition" class="sch_select">
        <option value="0">姓名</option>
        <option value="1">固话</option>
        <option value="2">手机</option>
        <option value="3">QQ</option>
        <option value="4">email</option>
        <option value="5">旺旺</option>
        <option value="6">快递单号</option>
        <option value="7">订单编号</option>
        <option value="8">会员卡号</option>
        <option value="9">顾客ID</option>
        <option value="9">商品名</option>
      </select>
      <input type="search" name="search" value="" min="3" size="42px" style="height:32px;margin-right:5px" autofocus onfocus="showKeyword(this)"/>
      {if $finance eq 'finance'}
      <input type="hidden" value="{$finance}" id="finance" />
      {/if}
      <input type="submit" class="input_submit" value="查  询"/>
    </form>
    </li>
    <li>
    <span style="color:red" id="alarm" width="48px"></span>
    </li>
  </ul>
  <div id="goods_search_res" class="goods_search_res" style="display:none"></div>
  <div id="search_info" style="margin:5px;text-align:center"></div>
