<table width="100%" cellpadding="0" cellspacing="0" border="0" class="wu_table_list wu_rb_border rb_border tr_hover" id="favor_table">
    <tr>
      {if $tape_favorite_view eq 1}
      <th width="10%">客服</th>
      {/if}
      <th width="8%">顾客</th>
      <th width="13%">服务时间</th>
      {if $tape_collect_copyright eq 'other_public' || $tape_collect_copyright eq 'my_public'  || $tape_collect_copyright eq 'collect_other_public'}
      <th width="30%">通话录音说明</th>
      <th width="8%">评论情况</th>
      {else}
      <th width="30%">服务内容</th>
      {/if}
      <th width="13%">收藏时间</th>
      <th width="13%">操作</th>
    </tr>
    {if $tape_collect neq null}
    {foreach from=$tape_collect item=val}
    <tr>
      {if $tape_favorite_view eq 1}
      <td>{$val.admin_name}</td>
      {/if}
      <td>{$val.user_name}</td>
      <td>{$val.service_time}</td>
      {if $tape_collect_copyright eq 'other_public' || $tape_collect_copyright eq 'my_public' || $tape_collect_copyright eq 'collect_other_public'}
      <td>{$val.simple_explain}</td>
      <td>
        <a class="btn_new" target="_blank" href="service.php?act=get_tape_comment&favor_id={$val.favor_id}"> 评论{$val.praise} </a>
      </td>
      {else}
      <td class="talignLeft">{$val.logbook}</td>
      {/if}
      <td>{$val.add_time}</td>
      <td>
        <rec onclick="showRecPlayer(this);" style="cursor:pointer"><audio src="{$val.file_path}" style="width:20px; height:10px; background-color:skyblue"></audio>播放{$smarty.foreach.i.iteration}</rec>
        {if $tape_collect_copyright eq 'privacy'}
        <button class="btn_new" onclick="chTapePublic(this,'public',{$val.favor_id})" >公开</button> 
        {elseif $tape_collect_copyright eq 'other_public'}
        <button class="btn_new" name="" onclick="chTapePublic(this,'collect',{$val.favor_id})">收藏</button>
        <!--<button class="btn_new" name="" onclick="chTapePublic(this,'praise',{$val.favor_id})">评论</button>-->
        {elseif $tape_collect_copyright eq 'recycle'}
        <button class="btn_new" name="" onclick="chTapePublic(this,'recollect',{$val.favor_id})">重新收藏</button>
        <button class="btn_new" name="" onclick="chTapePublic(this,'del',{$val.favor_id})">删除</button>
        {elseif $tape_collect_copyright eq 'my_public'}
        <button class="btn_new" name="" onclick="chTapePublic(this,'privacy',{$val.favor_id})">私有</button>
        {/if}
        {if $tape_collect_copyright neq 'other_public' AND $tape_collect_copyright neq 'recycle'}
        <button class="btn_new" name="" onclick="chTapePublic(this,'move',{$val.favor_id})">删除</button>
        {/if}
      </td>
    </tr>
    {/foreach}
    {else}
    <tr></tr>
    {/if}
  </table>
