<br />
<h3>修改{$user.user_name}的基本信息</h3>
<div class="newdiv">
  <form action="" method="post"  name="form" >
    <input type="hidden" name="id" value="{$user.user_id}"/>
    <table class="new_table table_form table_tr" cellpadding="0" cellspacing="0" border="0" width="100%">
      <tr>
        <th width="13%">用户名<font color="red">*</font>：</th>
        <td><input type="text" name="username" value="{$user.user_name}" disabled style="background:#F0F0F0" onBlur="user()" />
          <span id="users" style="margin-left:5px;color:red"></span>
        </td>
      </tr>
      <tr>
        <th width="13%">工号：</th>
        <td><input type="text" name="number" value="{$user.user_id}" disabled style="background:#F0F0F0"/></td>
      </tr>
      <tr>
        <th width="13%">旧密码：</th>
        <td><input type="password" name="pre_password" /></td>
      </tr>
      <tr>
        <th width="13%"></th>
        <td>
          <font color="#666">如果要修改密码,请先填写旧密码,如留空,密码保持不变</font>
        </td>
      </tr>
      <tr>
        <th width="13%">新密码<font color="red">*</font>：</th>
        <td><input type="password" name="password" /><span id="password" style="margin-left:5px;color:red">长度不能少于6</span></td>
      </tr>
      <tr>
        <th width="13%">确认密码<font color="red">*</font>：</th>
        <td><input type="password" name="pass" /><span id="pass" style="margin-left:5px;color:red"></span></td>
      </tr>
      <tr>
        <th width="13%">手机<font color="red">*</font>：</th>
        <td><input type="text" name="mobile" value="{$user.mobile}" />
          <span id="mobile" style="margin-left:5px;color:red"></span>
        </td>
      </tr>
      <tr>
        <th width="13%">姓名<font color="red">*</font>：</th>
        <td><input type="text" name="name" value="{$user.user_name}"/></td>
      </tr>
      <th width="13%">角色名称<font color="red">*</font>：</th>
      <td><select name="roles">
          {foreach  from=$select item=role}
          <option value="{$role.role_id}" {if $user.role_id eq $role.role_id}selected{/if}>{$role.role_name}</option>
          {/foreach}
        </select>&nbsp;&nbsp;
        <input type="button" value="确定" id="btn_submit_add" class="b_submit" onclick="updateAdmin(this)"/>
      </td>
    </table>
  </form>
</div>

<style type="text/css">
  .newdiv{
    border-nadius:5px;
    background:#FFF;
    padding:13px;
  }
  .newdiv table th{
    text-align:right;
  }
</style>
